{% comment %}
  ButtonGroup Component
  Displays multiple buttons in a layout.
  
  @param {array} buttons - Array of button objects with text, url, variant, etc. (required)
  @param {string} orientation - Button orientation: horizontal, vertical (default: horizontal)
  @param {boolean} full_width - Make buttons full width (default: false)
  @param {string} class - Additional CSS classes
  @param {string} attributes - Additional HTML attributes
  
  @example
  {% assign buttons = 'Button 1|Button 2|Button 3' | split: '|' %}
  {% render 'component-actions-button-group', buttons: buttons, orientation: 'horizontal' %}
{% endcomment %}

{% liquid
  assign buttons = buttons | default: empty
  assign orientation = orientation | default: 'horizontal'
  assign full_width = full_width | default: false
  assign class = class | default: ''
  assign attributes = attributes | default: ''
  
  unless buttons != empty
    echo '<!-- Error: buttons parameter required for button-group component -->'
    break
  endunless
%}

<div 
  class="ds-button-group ds-button-group--{{ orientation }} {% if full_width %}ds-button-group--full-width{% endif %} {{ class }}"
  role="group"
  {{ attributes }}
>
  {% for button in buttons %}
    {% liquid
      assign button_text = button.text | default: button
      assign button_url = button.url | default: ''
      assign button_variant = button.variant | default: 'primary'
      assign button_size = button.size | default: 'medium'
      assign button_type = button.type | default: 'button'
      assign button_disabled = button.disabled | default: false
      assign button_icon = button.icon | default: ''
      assign button_icon_position = button.icon_position | default: 'left'
    %}
    
    {% render 'component-actions-button',
      text: button_text,
      url: button_url,
      variant: button_variant,
      size: button_size,
      type: button_type,
      disabled: button_disabled,
      icon: button_icon,
      icon_position: button_icon_position,
      full_width: full_width
    %}
  {% endfor %}
</div>

{% stylesheet %}
  .ds-button-group {
    display: flex;
    gap: var(--spacing-sm);
  }
  
  .ds-button-group--horizontal {
    flex-direction: row;
  }
  
  .ds-button-group--vertical {
    flex-direction: column;
  }
  
  .ds-button-group--full-width {
    width: 100%;
  }
  
  .ds-button-group--full-width .ds-button {
    flex: 1;
  }
  
  .ds-button-group .ds-button {
    margin: 0;
  }
  
  .ds-button-group--horizontal .ds-button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .ds-button-group--horizontal .ds-button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px;
  }
  
  .ds-button-group--vertical .ds-button:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .ds-button-group--vertical .ds-button:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
  }
{% endstylesheet %}

