{% comment %}
  Renders a hamburger menu button for the header drawer.

  Usage:
  {% render 'hamburger-menu' %}
{% endcomment %}

<summary
  class="header__icon header__icon--menu header__icon--summary link focus-inset"
  aria-label="{{ 'sections.header.menu' | t }}"
>
  <span>
    {{- 'icon-hamburger.svg' | inline_asset_content -}}
    {{- 'icon-close.svg' | inline_asset_content -}}
  </span>
</summary>








