{% comment %} if cart is not empty, show the floating cart {% endcomment %}
{% if cart.item_count > 0 %}
<section class="floating-cart">

    <div class="floating-cart__content">
        <a href="{{ routes.cart_url }}" aria-label="Cart" class="floating-cart__link">
            {% if cart.item_count > 0 %}
                <sup class="floating-cart__badge">{{ cart.item_count }}</sup>
            {% endif %}
            {% render 'lucide-icon', icon_name: 'shopping-cart', size: 24, class: 'floating-cart__icon' %}
        </a>
        <div class="floating-cart__items">
            {{ cart.item_count }} {{ cart.item_count | pluralize: 'Item', 'Items' }}
        </div>
    </div>
</section>
{% endif %}

{% stylesheet %}

.floating-cart {
    position: sticky;
    bottom: 10vh;
    right: 0;
    width: 300px;
    height: 300px;
    background-color: var(--color-background);
    border-radius: 10px;
    padding: 10px;
}

.floating-cart__content {
    height: 100%;
    width: 100%;
    background-color: var(--color-background);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.floating-cart__link {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.floating-cart__badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--color-foreground);
    color: var(--color-background);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
}

.floating-cart__icon {
    width: 2.4rem;
    height: 2.4rem;
    color: currentColor;
}

.floating-cart__items {
    font-size: 0.875rem;
    color: var(--color-foreground);
}
{% endstylesheet %}

{% schema %}
{
    "name": "Floating Cart",
    "settings": [],
    "presets": [
        {
            "name": "Floating Cart"
        }
    ]
}
{% endschema %}