name: Shopify Lighthouse CI

on: [push]

jobs:
  lhci:
    name: Lighthouse
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Lighthouse
      uses: shopify/lighthouse-ci-action@v1
      with:
        access_token: ${{ secrets.SHOP_ACCESS_TOKEN }}
        store: ${{ secrets.SHOP_STORE }}
        password: ${{ secrets.SHOP_PASSWORD }}
        # Optional: Uncomment the line below to enable GitHub status checks
        # lhci_github_app_token: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
